.wrapper {
    margin: 20px auto;
}

.loader {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
