.input {
    display: none;
}

.label {
    position: relative;
    margin-left: 32px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
}

.label::before {
    content: '';
    position: absolute;
    left: -32px;
    border: 1px solid #D0CFCF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

input:checked + .label::before {
    border: 1px solid #00BDD3;
}

input:checked + .label::after {
    content: '';
    position: absolute;
    left: -26px;
    top: 6px;
    background: #00BDD3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
