.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    min-width: 100px;
    padding: 0 19px;
    background: #F4E041;
    border-radius: 80px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 16px;
    border: none;
    transition: .2s all;
    cursor: pointer;
    align-self: center;
}

.button:hover {
    background: #FFE302;
}

.button:disabled {
    background: #B4B4B4;
    color: rgba(255, 255, 255, 0.87);
}
