@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: #F8F8F8;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 1366px) {
    .container {
        width: auto;
        padding: 0 60px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 32px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 16px;
    }
}
